html, 
body{
    height: 100%;
        background-image: url("img/backgroundlogin.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #ffffff00 !important;
    border-radius: 10px !important;
}

input[type="email"],
input[type="password"]{
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: white;
    color: black;
    margin: 0;
}

.card-title{
    font-weight: 900;
    padding: 20px;
}

.btn{
    background: white !important;
    color: #000 !important;
    border: 2px solid black;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}